[submodule "src/polybench"]
	path = src/polybench
	url = ssh://git@cz-bitbucket.llnl.gov:7999/raja/polybench-raja.git
[submodule "tpl/RAJA"]
	path = tpl/RAJA
	url = http://github.com/noelchalmers/RAJA.git
[submodule "blt"]
	path = blt
	url = http://github.com/noelchalmers/blt.git
